body {
  margin: 0;
  padding: 0%;
  background-color: #dda0dd;
}
#containermah /* Deixar coluna flexivel*/ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} /* Direção da coluna*/


#container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item1 {
  display: flex;
  background-color: #87cefa;
  width: 60px;
  height: 40px;
}

.item2 {
  display: flex;
  background-color: #00bfff;
  width: 60px;
  height: 40px;
}

.item3 {
  display: flex;
  background-color: #c3cdd1;
  width: 60px;
  height: 40px;
}
.containergrid{
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-gap: 10px;
    grid-template-areas: "header" "m" "a" "f";
}

header{
    background-color: #FFD700;
    height: 75px;
    margin: 1%;
    padding: 1%;
    grid-area: a;
}
main{
    background-color: #FFFF00;	
    height: 75px;
    margin: 1%;
    padding: 1%;
    
}
aside{
    background-color: #ADFF2F;
    height: 75px;
    margin: 1%;
    padding: 1%;
    
}
footer{
    background-color: #F0E68C ;
    height: 75px;
    margin: 1%;
    padding: 1%;
    grid-area: header;
}